<%- include ('../partials/header') %>
<div class="container my-5">
    <header class="jumbotron">
        <h1>
        All about me
        </h1>
    </header>

    <div>
        <p>The autobiography of Landon Lyle.</p>
    </div>
    <div class="clearfix">So a little background about myself. I just turned 38 years old on June 3rd. I'm in my 2nd year at Geoargian College, studying for an
        advanced Degree as a Computer Programmer Analyst. I enjoyed anything to do with computers.
        <div><h2>My Family</h2>
<dl>
<dt>Melissa</dt>
<dd>- Spouse</dd>
<dt>Aaliyah</dt>
<dd>- 13yr old Daughter</dd>
<dt>Keshia</dt>
<dd>- 11yr old Daughter</dd>
<dt>Felicity</dt>
<dd>- 5yr old Daughter</dd>
</dl>
</div>
</div>
    <%- include ('../partials/footer') %>
 