<%- include ('../partials/header') %>
<div class="container my-5">
    <header class="jumbotron">
        <div><h1>
            <div class="center">Welcome Home to My Blog</div>
        </h1>
       
            <img class="img2" src="/images/Me.jpg" alt="Picture of me" style="width:150px"></p>
    </div>
    <div class="clearfix"><div class="img1"><div class="github-card" data-github="LandDroid" data-width="400" data-height="" data-theme="default"></div>
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script></div>
    </header>

    
</div>
<%- include ('../partials/footer') %>
 